img.logo {
    height: 128px;
    padding-bottom: 64px;
}

.queue-headline {
    font-size: 32px;
}
.queue-position {
    font-size: 192px;
    line-height: 192px;
    display: inline-block;
    padding: 16px;
}

.mat-card {
    width: fit-content;
}
