img.logo {
    height: 128px;
    padding-bottom: 64px;
}

.queue-headline {
    font-size: 32px;
}
.queue-position {
    font-size: 128px;
    line-height: 128px;
    display: inline-block;
    padding: 16px;
}

.mat-card {
    width: fit-content;
}

.center, .mat-card-header-text {
  width: fit-content;
  margin-left: auto !important;
  margin-right: auto !important;
}
