/*
 * Remove template code below
 */
:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: auto;
}

#content {
  padding-top: 32px;
}

.fill-remaining {
  flex: 1 1 auto;
}
