<mat-toolbar>
  <h1>{{siteInfo?.description}} - {{queueDescription}}</h1>
</mat-toolbar>
<mat-grid-list cols="2" rowHeight="4:3">
  <mat-grid-tile>
    <mat-grid-tile-header>
      Könummer
    </mat-grid-tile-header>
    <span class="queue-number">{{currentTicket}}</span>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-flat-button fxFill style="margin:10px" color="primary" (click)="advanceQueue()">Nästa</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>
      Väntetid
    </mat-grid-tile-header>
    <span class="wait-time">{{estimatedTime}}</span>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>
      Kölängd
    </mat-grid-tile-header>
    <span class="queue-length">{{queueLength}}</span>
  </mat-grid-tile>
</mat-grid-list>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    Visa kökod
  </mat-expansion-panel-header>
  <ngx-kjua [text]="queueUrl" ecLevel="H" size="400" mode="label" mSize="20" mPosX="50"
            mPosY="50" label="Kö" fontname="sans-serif" fontcolor="green" class="qr-code"></ngx-kjua>
</mat-expansion-panel>
